/* shared styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.nav-img {
  width: 30px;
}

.shared-span {
  color: #fa42a5;
}

.container {
  width: 85%;
  margin: 30px auto;
}

.banner-title {
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}

.section {
  margin: 180px 0;
}

/* header related styles */
.title {
  color: #0b0223;
  font-size: 45px;
  font-weight: 700;
}

.logo-container span {
  color: #fa42a5;
}

.logo-container {
  display: flex;
  gap: 20px;
}

.link-container {
  display: flex;
  gap: 30px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

.btn-nav {
  margin-left: 30px;
  border: none;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Banner styles */

.banner-title-goat span {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  color: #d42a90;
}

.banner-li-container {
  margin-top: 24px;
}

.banner-content li {
  margin-bottom: 18px;
  list-style: none;
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
}

.banner-content {
  background-image: url("../images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}

.banner-icon {
  width: 20px;
  margin-right: 5px;
}

.btn-pink {
  margin-right: 20px;
  margin-top: 40px;
  border: none;
  border-radius: 48px;
  padding: 20px 40px;
  background-color: #fa42a5;
  color: #ffffff;
}

.btn-blue {
  margin-top: 40px;
  border: none;
  border-radius: 48px;
  padding: 20px 40px;
  background: #4ec5f7;
  color: #ffffff;
}

.banner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Main part styles */
.main-part {
  margin: 100px 0;
}

/* online-games section */
/* 



.hover-img {
  width: 50px;
}





} */

.online-games-title {
  text-align: center;
  font-weight: 700;
}

.online-games-para {
  margin: 30px 0;
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; 
}


.card {
  position: relative;
  display: inline-block;
}

.card-para {
  text-align: start;
  font-size: 15px;
}

.hover-overlay {
  position: relative;
  display: inline-block;
}

.hover-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hover-overlay:hover .hover-content {
  opacity: 1;
  visibility: visible;
}

.watch-later-icon {
  display: block;
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
}

.watch-later-icon-img {
  width: 50px;
}

.watch-later-text {
  text-align: center;
  color: #fa42a5;
}

.online-games-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.hover-card-img {
  width: 250px;
  gap: 20px;
}

/* play-instantly section styles */

.instant-game-title {
  font-weight: 700;
}

.instant-games-para {
  margin: 30px 0;
  color: #534c64;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.img-instant-playOne {
  width: 500px;
  /* width: 100%; */
  height: 500px;
  /* height: auto; */
}
.instant-play-img-container {
  position: relative;
}

.img-instant-playTwo {
  position: absolute;
  top: 55%;
  right: 70%;
  height: 300px;
}

.instant-play-content {
  text-align: right;
}

.instantly-play-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* various game section */

.gamer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  border-radius: 50px;
  background: #fff;
  color: #0b0223;
  font-size: 20px;
  font-weight: 600;
}

.gamer:hover {
  border: 1px solid #d42a90;
  color: #d42a90;
  transition: transform 0.3s ease-in-out;
  transform: scale(1.1);
}

.various-game-container {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.game-group-one-container {
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.game-group-two-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 90%;
  margin: 0 auto;
}

/* footer section styles */

footer > section {
  width: 100%;
  background: #0b0223;
}

.footer-container {
  text-align: center;
  padding: 120px 0;
}

.footer-center {
  width: 60%;
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.footer-li-container {
  margin: 30px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

footer button {
  border: none;
  margin: 20px 0;
}

.small-list-container {
  /* margin: 20px;   */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.small-list-container li,
.footer-li-container li,
.footer-logo h3,
.footer-container p {
  color: white;
}

.footer-container p {
  margin-top: 50px;
}

footer button {
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 50px;
}

.nav-img {
  width: 50px;
}
